<div class="container">

  <div class="title" id="title-product">
    <h2>Les repas qui match avec ta bière</h2>
  </div>

  <div class="tags">
  <% if params[:query] %>
    <% params[:query].split(', ').each do |param| %>
        <% @selected_ingredients = [params[:selected]].flatten %>
        <% active = @selected_ingredients.include?(param) ? "active" : "" %>
        <% @selected_ingredients.include?(param) ? @selected_ingredients.delete(param) : @selected_ingredients.push(param) %>
        <%= link_to param, recipes_path(query: params[:query], selected: @selected_ingredients ), class: "tag-selector #{active}" %>
    <% end %>
  <% end %>
  </div>

  <div class="container-product">

  <% @recipes.each do |recipe| %>

  <div class="wrapper-recipe">
  <%= link_to recipe_path(recipe), class:"link-product-recipe" do %>
  <div class="container-product-list-recipe">
    <div class="top-recipe">
    <%= image_tag(recipe.photo_path) %>
    <%# <img class="card-product-img", src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1656016771/cat-fruitmer_p3dvew.webp"/> %>
    </div>
    <div class="bottom-recipe">
      <div class="details-recipe">
        <h1><%= recipe.name %></h1>
      </div>
    </div>
  </div>
  <div class="inside-product-recipe">
    <div class="icon-product-recipe"><i class="fas fa-info fa-lg"></i></div>
    <div class="contents-recipe">
      <div class="row">
          <div class="product-title-recipe">Niveau de difficulté</div>
          <div class="product-text-recipe"><%= recipe.difficulty_level %></div>
          <div class="product-title-recipe">Temps de préparation</div>
          <div class="product-text-recipe"><%= recipe.prep_time %> min</div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% end %>
  </div>

  </div>
  <a href="#" id="haut"><i class="fas fa-arrow-up"></i> haut de page</a>
</div>
