<div class="container">
  <div class="row-recipe">
    <%= image_tag(@recipe.photo_path) %>
    <div class="column-recipe">
      <div class="head">
        <div class="show-name"><%= @recipe.name %></div>
        <div class="show-button-fav">
          <%= simple_form_for [ @recipe, @favorite ] do |f| %>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= button_tag type: 'submit', class: "button-favorite", as: :boolean, input_html: { class: "toggle" } do %>
              <i class="far fa-heart" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="show-rating">
        <% if @recipe.average_rating_recipe.nan? %>
        <a href="#commentaires" id="ancre"><div class="nan"><i class="fas fa-star"></i> aucune note / 5</div></a>
        <% else %>
        <a href="#commentaires" id="ancre"><div class="show-text"><i class="fas fa-star"></i> <strong><%= @recipe.average_rating_recipe %></strong> / 5</div></a>
        <% end %>
      </div>

      <div class="show-title">Temps de préparation</div>
      <div class="show-text"><%= @recipe.prep_time %> min</div>
      <div class="show-title">Niveau de difficulté</div>
      <div class="show-text"><%= @recipe.difficulty_level %></div>

    <div class="show-ingredients">
      <%= @recipe.aliment_type %>
      <%# La mise en page prévue : %>
      <%# <b>Ingrédients pour 4 personnes</b><br>
      <p>- 4 truites <br>
      - 1 citron jaune (non traité) <br>
      - 1 douzaine de gousses d'ail en chemise <br>
      - 1 bouquet de thym <br>
      - 4 feuilles de laurier <br>
      - 4 pincées d'herbes de Provence <br>
      - 8 c.à.s d'huile d'olive <br>
      - sel & poivre</p> %>
    </div>
    <div class="show-description">
      <%= @recipe.description %>
      <%# La mise en page prévue : %>
      <%# <p><b>Etape 1</b><br>
      Séparer les blancs des jaunes d'oeufs. <br>
      <br>
      <b>Etape 2</b><br>
      Mélanger les jaunes avec le sucre roux et le sucre vanillé. <br>
      <br>
      <b>Etape 3</b><br>
      Ajouter le mascarpone au fouet. <br>
      <br>
      <b>Etape 4</b><br>
      Monter les blancs en neige et les incorporer délicatement à la spatule au mélange précédent. Réserver. <br>
      <br>
      <b>Etape 4</b><br>
      Mouiller les biscuits dans le café rapidement avant d'en tapisser le fond du plat. <br>
      <br>
      <b>Etape 5</b><br>
      Recouvrir d'une couche de crème au mascarpone puis répéter l'opération en alternant couche de biscuits et couche de crème en terminant par cette dernière. <br>
      <br>
      <b>Etape 6</b><br>
      Saupoudrer de cacao. <br>
      <br>
      <b>Etape 7</b><br>
      Mettre au réfrigérateur 4 heures minimum puis déguster frais. <br>
      <br>
      <b>Etape 8</b><br>
      Monter les blancs en neige et les incorporer délicatement à la spatule au mélange précédent. Réserver. ÉTAPE 5
      Mouiller les biscuits dans le café rapidement avant d'en tapisser le fond du plat. <br>
      <br>
      <b>Etape 9</b><br>
      Recouvrir d'une couche de crème au mascarpone puis répéter l'opération en alternant couche de biscuits et couche de crème en terminant par cette dernière. <br>
      <br>
      <b>Etape 10</b><br>
      Saupoudrer de cacao.
      </p> %>
    </div>
    </div>
  </div>

  <div class="row-rating">
    <div class="column-rating">
      <% if current_user.present? %>
      <div id="commentaires">Laisser un avis sur cette recette !</div>
        <%= simple_form_for [ @recipe, @review ] do |f| %>
        <%= f.input :rating, class: "form-comment", label: "Note / 5", as: :float, input_html: { min: '0', max: '5', step: 'any' } %>
        <%= f.input :comment, class: "form-comment", label: "Commentaire", :input_html => { :maxlength => 50 } %>
        <%= f.submit "Envoyer", class: "button-favorite" %>
        <% end %>
      <% else %>
        <div class="text-unlog">Vous devez vous  <a href="<%= new_user_session_path%>" id="unlog_link">connecter</a>  ou vous  <a href="<%= new_user_registration_path %>" id="unlog_link">inscrire</a>  sur Match Your Beer pour laisser un avis.</div>
      <% end %>
    </div>
    <% if @recipe.reviews.present? %>
    <div class="show-comment">
      <div id="commentaires">Les avis</div>
      <div class="rating-comment">
        <% @recipe.reviews.each do |review| %>
          <div class="rating-text"><i class="fas fa-star"></i> <strong><%=review.rating%></strong> / 5 – <%= review.comment.capitalize %></div>
        <% end %>
        <% else %>
        <div class="show-no-comment">
          <div id="no-commentaires">Aucun avis n'a été posté pour “<%= @recipe.name %>”</div>
        </div>
      <% end %>
      </div>
    </div>

  </div>
  <a href="#" id="haut"><i class="fas fa-arrow-up"></i> haut de page</a>
 </div>
