<div class="title">
  <h2>Recette de votre repas : <%= @recipe.name %></h2>
</div>
<div>
<% @recipe.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.comment %>
<% end %>
</div>

<div>
<h4><strong>Commente ta Recette</strong></h4>
<% if current_user.present? %>
  <%= simple_form_for [ @recipe, @review ] do |f| %>
    <%= f.input :rating, label: "Note",as: :float, input_html: { min: '0', max: '5', step: 'any' } %>
    <%= f.input :comment, label: "Commentaire" %>
    <%= f.submit "Envoyer", class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
