<div class="container">

  <div class="title" id="title-category">
    <h2>Quel type de repas as-tu ?</h2>
  </div>

  <div class="container-cat">

  <div class="link-cat">
  <%= link_to beers_path(query: "fromage frais, fromage à pâte molle, fromage à pâte dure, fromage persillé") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655850180/cat-fromages_o9yosh.webp)">
      Fromages
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "charcuterie, pâté") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1656017410/cat-charcuterie_zmdb2b.webp)">
      Charcuteries
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "barbecue, grillade") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1656016239/cat-bbq_vofrct.webp)">
      Barbecue
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "viande, carpaccio, poulet, volaille, canard, veau, boeuf, porc, gibier, agneau, abat") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655847499/cat-viandes_wnlbuy.webp">
      Viandes
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "plat mijoté") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655848711/cat-mijotes_d43ijc.webp)">
    Plats mijotés
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "plat épicé, curry") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1656017279/cat-epices_r3qxvw.webp)">
      Plats épicés
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "crustacé, ceviche") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1656016771/cat-fruitmer_p3dvew.webp)">
      Crustacés
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "poisson, ceviche, poisson blanc, poisson gras") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655848001/cat-poissons_oylyvm.webp)">
      Poissons
    </div>
    <% end %>
  </div>


  <div class="link-cat">
  <%= link_to beers_path(query: "légume, crudité, salade") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655849279/cat-legumes_aqh4li.webp)">
      Légumes
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "fast-food, hamburger, pizza") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655849403/cat-fastfood_qzcgzs.webp)">
      Fast-food
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "sucré, dessert, caramel, chocolat, caramel, spéculoos, tiramisu, crème fraîche") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655850465/cat-desserts_qfsqwn.webp)">
      Sucrés
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to beers_path(query: "fruit, fruit rouge, passion, noix de coco, amande") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1656017125/cat-fruits_oajzfb.webp)">
      Fruits
    </div>
    <% end %>
  </div>

  </div>
</div>
