<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(52,54,58,0.7),rgba(52,54,58,0.5)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655463815/banner_AdobeExpress_d4gcjv.gif);">
  <div class="container">
    <h1>Découvre de nouvelles saveurs en jouant <br> sur les accords bières et repas.</h1>
    <div class="row">
      <div class="column-banner-left">
        <%= link_to "Je match mon repas", recipes_category_index_path, class: "btn-banner" %>
      </div>
      <div class="column-banner-right">
        <%= link_to "Je match ma bière", beers_category_index_path, class: "btn-banner" %>
      </div>
    </div>
  </div>
</div>

<!-- ENTREE / BIERE -->
<div class="container-product-beer">
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655420423/pngegg_1_wfdih8.png" alt="biere">
    </div>
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ta bière ?<br>
                <span> Une série de recettes t'attendent</span>
            </h2>
            <p>
                On vous propose un ensemble de recettes qui s'accordent à merveille avec votre bière préférée.
                Choisissez le repas que vous aimer avec vos critères et découvre de nouvelles sensations avec cet accord mets et bières !
            </p>
            <%= link_to "Match avec un repas", beers_category_index_path, class: "btn-product" %>

        </div>
    </div>
</div>

<!-- ENTREE / PLAT -->
<div class="container-product-recipe">
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ton repas ?<br>
                <span> De bonnes bières fraîches t'attendent</span>
            </h2>
            <p>
                On vous dévoile un tas de bonnes bières qui s'accordent à merveille avec votre repas.
                Choisissez celle qui vous tente et épatez votre entourage par un accord mets et bières !
            </p>
            <%= link_to "Match avec une bière", recipes_category_index_path, class: "btn-product" %>
        </div>
    </div>
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655405507/essai-repas_i0shor.png" alt="repas">
    </div>
</div>

<!-- MATCH CARD -->
<div class="container-match">
  <div class="container-card-match">
    <div class="label">— Notre sélection —</div>
    <div class="heading">C'est un match !<br></div>

    <div class="row">
      <div class="column-1 col col-6">

        <div class="label-match"><%= @random_beer.name %></div>
        <%= image_tag @random_beer.photo_path, class:"img-match" %>
        <div class="row">
          <div class="column-3 col col-6">
            <div class="category-title">Brasserie</div>
            <div class="category-text"><%= @random_beer.brewery %></div>
            <div class="category-title">Type</div>
            <div class="category-text"><%= @random_beer.color %></div>
            <div class="category-title">Style</div>
            <div class="category-text"><%= @random_beer.style %></div>
          </div>
          <div class="col col-6">
            <div class="category-title">Origine</div>
            <div class="category-text"><%= @random_beer.country %></div>
            <div class="category-title">Alcool</div>
            <div class="category-text"><%= @random_beer.alcohol_level %> %</div>
            <div class="category-title">
            <abbr title="Cette indication correspond à l'amertûme à la bière. Cet indice se situe sur une échelle de 0 à 90; 0 étant la bière la moins amère.">IBU<i class="fas fa-question-circle" id="icon-bulle"></i></abbr>
            </div>
            <div class="category-text"><%= @random_beer.ibu_level %></div>
          </div>
        </div>
      </div>
      <div class="column-2 col col-6" style="background-image: url('<%= image_path @recipe.photo_path %>')">
      <%= image_tag "match-2.svg", class: "patch-match" %>
          <div class="label-match"><%= @recipe.name %></div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- TOP BEERS -->
<div class="section">
  <div class="container-top">
    <div class="label">— nos bières —</div>
    <div class="heading">Les plus recherchées</div>
      <div class="row-top">
      <% @beers.shuffle.first(4).each do |beer| %>
      <%= link_to beer_path(beer) do %>
        <div class="columns-top">
          <%= image_tag beer.photo_path, class:"img-top" %>
          <div class="title-top"><%= beer.name %></div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <a href="#" id="haut"><i class="fas fa-arrow-up"></i> haut de page</a>
</div>
