<div class="container">

  <div class="title" id="title-product">
    <h2>Les bières qui match avec ton repas</h2>
  </div>

  <div class="tags">
    <% if params[:query] %>
      <% params[:query].split(', ').each do |param| %>
          <% @selected_ingredients = [params[:selected]].flatten %>
          <% active = @selected_ingredients.include?(param) ? "active" : "" %>
          <% @selected_ingredients.include?(param) ? @selected_ingredients.delete(param) : @selected_ingredients.push(param) %>
          <%= link_to param, beers_path(query: params[:query], selected: @selected_ingredients ), class: "tag-selector #{active}" %>
      <% end %>
    <% end %>
  </div>

  <div class="container-product">

  <% @beers.each do |beer| %>

  <div class="wrapper">
  <%= link_to beer_path(beer), class:"link-product" do %>
  <div class="container-product-list">
    <div class="top"></div>
    <div class="bottom">
      <div class="details">
        <h1><%= beer.name %></h1>
      </div>
    </div>
  </div>
  <div class="inside-product">
    <div class="icon-product"><i class="fas fa-info fa-lg"></i></div>
    <div class="contents">
      <div class="row">
        <div class="column-3 col col-6">
          <div class="product-title">Brasserie</div>
          <div class="product-text"><%= beer.brewery %></div>
          <div class="product-title">Type</div>
          <div class="product-text"><%= beer.color %></div>
          <div class="product-title">Style</div>
          <div class="product-text"><%= beer.style %></div>
        </div>
        <div class="col col-6">
          <div class="product-title">Origine</div>
          <div class="product-text"><%= beer.country %></div>
          <div class="product-title">Alcool</div>
          <div class="product-text"><%= beer.alcohol_level %> %</div>
          <div class="product-title">IBU</div>
          <div class="product-text"><%= beer.ibu_level %></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <% end %>
  </div>

</div>
