<div class="container">

  <div class="title" id="title-product">
    <h2>Les bières qui match avec ton repas</h2>
  </div>

  <div class="tags">
    <% if params[:query] %>
      <% params[:query].split(', ').each do |param| %>
          <% @selected_ingredients = [params[:selected]].flatten %>
          <% active = @selected_ingredients.include?(param) ? "active" : "" %>
          <% @selected_ingredients.include?(param) ? @selected_ingredients.delete(param) : @selected_ingredients.push(param) %>
          <%= link_to param, beers_path(query: params[:query], selected: @selected_ingredients ), class: "tag-selector #{active}" %>
      <% end %>
    <% end %>
  </div>

  <div class="container-product">

  <% @beers.each do |beer| %>

  <div class="wrapper-beer">
  <%= link_to beer_path(beer), class:"link-product-beer" do %>
  <div class="container-product-list-beer">
    <div class="top-beer">
    <%= image_tag(beer.photo_path) %>
    </div>
    <div class="bottom-beer">
      <div class="details-beer">
        <h1><%= beer.name %></h1>
      </div>
    </div>
  </div>
  <div class="inside-product-beer">
    <div class="icon-product-beer"><i class="fas fa-info fa-lg"></i></div>
    <div class="contents-beer">
      <div class="row">
        <div class="column-3 col col-6">
          <div class="product-title-beer">Brasserie</div>
          <div class="product-text-beer"><%= beer.brewery %></div>
          <div class="product-title-beer">Type</div>
          <div class="product-text-beer"><%= beer.color %></div>
          <div class="product-title-beer">Style</div>
          <div class="product-text-beer"><%= beer.style %></div>
        </div>
        <div class="col col-6">
          <div class="product-title-beer">Origine</div>
          <div class="product-text-beer"><%= beer.country %></div>
          <div class="product-title-beer">Alcool</div>
          <div class="product-text-beer"><%= beer.alcohol_level %> %</div>
          <div class="product-title-beer">IBU</div>
          <div class="product-text-beer"><%= beer.ibu_level %></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <% end %>
  </div>
<a href="#" id="haut"><i class="fas fa-arrow-up"></i> haut de page</a>
</div>
