<div class="container">
  <div class="row-beer">
  <div class="column-info">
    <div class="columns-beer">
      <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655229221/delta_ipa_frxevj.webp" alt="">
    </div>
    <div class="columns-beer">
      <h1><%= @beer.name %></h2>
      <p><i class="fas fa-star"></i> <strong><%=@beer.average_rating_beer%></strong> / 5</p>
      <h4>Brasserie — <%= @beer.brewery %></h4>
      <h4>Taux d'alcool — <%= @beer.alcohol_level %></h4>
      <h4>IBU / amertume — <%= @beer.ibu_level %></h4>
       <%# Mettre la balise @beer.description %>
      <p>Bière double d'altitude, la Peak Brune est la bière du brasseur par excellence.
        Pas d'épice, pas de chichi mais un mélange savant de cinq malts sélectionnés pour ouvrir vos papilles vers un équilibre entre douceur et notes torréfiées, biscuitées et caramel. Elle peut révéler ses talents lorsqu'elle est accompagnée d'un fromage affiné.</p>
    </div>
    <div>
      <%= simple_form_for [ @beer, @favorite ] do |f| %>
        <%= f.hidden_field :beer_id, value: @beer.id %>
        <%= f.button :submit, "Ajouter aux favoris", class: "btn btn-primary", "data-disable-with" => "Envoie en cours.." %>
      <% end %>
    </div>
  </div>
    <div class="column-map">
      <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
    <div class="column-review">

  </div>

</div>











  <div>
    <p>Où trouver cette bière ?</p>
    <% @shops.each do |shop| %>
    <%= shop.name %>
    <% end %>
  </div>




  <div>
    <p>Ajoute un avis sur cette bière</p>
    <% if current_user.present? %>
      <%= simple_form_for [ @beer, @review ] do |f| %>
        <%= f.input :rating, label: "Note", as: :float, input_html: { min: '0', max: '5', step: 'any' } %>
        <%= f.input :comment, label: "Commentaire" %>
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

</div>
