Beer SHOW


<%= @beer.name %>
<%= @beer.brewery %>
<%= @beer.alcohol_level %>

Ajouter le bouton favoris vers l'espace 'Current User'

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

Voir les différents magasins :

<% @shops.each do |shop| %>
<%= shop.name %>
<% end %>


Voir les différents reviews sur la biére :

<%# @reviews.each do |review| %>
<%#= review.rating %>
<%#= review.comment %>
<%# end %>
