<div class="container">

  <div class="title" id="title-category">
    <h2>Quel type de bière as-tu ?</h2>
  </div>

  <div class="container-cat">

  <div class="link-cat">
  <%= link_to recipes_path(query: "crudité, légume, poisson, plat mijoté, gibier, fast-food, fromage frais, fromage à pâte molle, fruit") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_fruitee_hdnng4.webp)">
      Bière fruitée
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "crudité, légume, carpaccio, ceviche, crustacé, poulet, poisson, fromage frais, fruit") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_blanche_zjkmg8.webp)">
      Bière blanche
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "crudité, légume, poisson, poulet, veau, plat épicé, hamburger, charcuterie, fromage frais, fromage à pâte molle, fromage à pâte dure, fruit, dessert") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_blonde_jvtqdd.webp)">
      Bière blonde
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "crustacé, poisson gras, volaille, canard, abat, plat épicé, fast-food, charcuterie, pâté, fromage à pâte dure, fromage persillé, caramel, crème fraîche") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_ambree_w5q8ii.webp)">
      Bière ambrée
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "barbecue, poisson, viande, volaille, porc, gibier, plat mijoté, pizza, charcuterie, fromage persillé, passion, chocolat, tiramisu, caramel") do %>
    <div class="card-category" style="background-image: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_brune_vzy7kr.webp)">
      Bière brune
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "crustacé, volaille, agneau, gibier, plat mijoté, fromage persillé, fruit rouge, noix de coco, amande, spéculoos, tiramisu") do %>
    <div class="card-category" style="background-image: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_noire_trq9ai.webp)">
      Bière noire
    </div>
    <% end %>
  </div>

  </div>
</div>
