<div class="container">

  <div class="title" id="title-category">
    <h2>Quel type de bière as-tu ?</h2>
  </div>

  <div class="container-cat">

  <div class="link-cat">
  <%= link_to recipes_path(query: "crudité, légume, fast-food, fruit, fromage frais, fromage à pâte molle, poisson, gibier, plat mijoté") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_fruitee_hdnng4.webp)">
      Bière fruitée
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "crudité, fruit, crustacé, fruit de mer, fromage frais, poulet, poisson, carpaccio, ceviche, légume") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_blanche_zjkmg8.webp)">
      Bière blanche
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "charcuterie, poisson, hamburger, plat épicé, poulet, veau, salade, fromage à pâte molle, fromage frais, fromage à pâte dure, dessert, fruit, légume") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_blonde_jvtqdd.webp)">
      Bière blonde
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "charcuterie, fast-food, volaille, canard, pâté, plat épicé, fruit de mer, fromage à pâte dure, fromage persillé, abat, caramel, crème fraîche, poisson gras") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_ambree_w5q8ii.webp)">
      Bière ambrée
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "charcuterie, barbecue, viande, volaille, porc, gibier, poisson, pizza, fromage persillé, chocolat, tiramisu, caramel, passion, porc, plat mijoté") do %>
    <div class="card-category" style="background-image: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_brune_vzy7kr.webp)">
      Bière brune
    </div>
    <% end %>
  </div>

  <div class="link-cat">
  <%= link_to recipes_path(query: "gibier, agneau, volaille, fruit de mer, fromage persillé, noix de coco, amande grillée, fruit rouge, spéculoos, plat mijoté, tiramisu") do %>
    <div class="card-category" style="background-image: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655844601/color_noire_trq9ai.webp)">
      Bière noire
    </div>
    <% end %>
  </div>

  </div>
</div>
